body {
    background-color: #aaffff;
   }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-align: center;
    line-height: 1.4;
    width: 100%;
}
.container{
    height:100vh;
}
.content{
    color: #000;
    padding: 0 2rem;
}
.container, .content, .footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content, .footer {
    width: 100%;
    position: relative;
    z-index: 10;
}
.container, .content{
    flex-direction: column;
}
.footer{
     flex-wrap: wrap;
     max-width: 600px;
     animation: hieu_ung_wave 0.5s 0.5s forwards;
 }
.footer a{
     text-decoration: none;
     max-width: 40%;
     padding: 12px 18px;
     margin: 20px auto 0 auto;
     cursor: pointer;
     color: #000;
     border: 2px solid;
     outline: none;
     transition: all 0.3s;
     box-shadow: 0 1px 1px rgba(0,0,0,0.12),
     0 2px 2px rgba(0,0,0,0.12),
      0 4px 4px rgba(0,0,0,0.12),
     0 8px 8px rgba(0,0,0,0.12),
     0 16px 16px rgba(0,0,0,0.12);
 }
.footer a:hover{
     background-color: #fff;
     color: #222;
     background-color: #fff;
      }
      .text, .title{
        backface-visibility: hidden;
    }
   .title{
        font-size: 6rem;
        font-weight: 500;
        animation: hieu_ung_wave 0.5s fowards;
        color: #000;
    }
   .text{
        max-width: 50rem;
        font-weight: 500;
        font-size: 1.4rem;
        padding: 2rem 0;
        color: #000;
        animation: hieu_ung_wave 0.5s 0.3s fowards;
    }
    .wave{
        opacity: 0.6;
        position: absolute;
        bottom: 40%;
        left: 50%;
        width: 6000px;
        height: 6000px;
        background: #fff;
        margin-left: -3000px;
        transform-origin: 50% 48%;
        border-radius: 46%;
        animation: wave 12s infinite linear;
        pointer-events: none;
    }
   .wave2{
        animation: wave 28s infinite linear;
        opacity: 0.3;
    }
   .wave3{
        animation: wave 20s infinite linear;
        opacity: 1;
    }
   .wave{
        background: #ffaad4;
    }
   .container{
        position: relative;
        background-color: #0cffff;
        z-index: 9;
    }
    @keyframes hieu_ung_wave{
        from{
            transform: translateY(2rem);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
   @keyframes wave{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
   .text{
        color: #fff;
    }
   .footer a{
        color: #fff;
    }
   .title{
        color: #fff;
    }